@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');

/* Global Settings */ 

* {
    box-sizing: border-box;
  }

:root {
    --core-font: 'Gideon Roman', cursive;
    --carmine: #8e001cff;
    --purple-navy: #645986ff;
    --honey-yellow: #ffb300ff;
    --blur-white: #ffffffb3;
    --basic-white: #ffffff;
    --basic-black: #000000ff;
}

body {
    font-family: var(--core-font);
    color: var(--basic-white);
    background-image: url(../images/rome-background-image.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: var(--blur-white);
}

.container {
    width: 70vw; /*optional*/
    height: 60vh;
    margin: 20vh auto;
    background: var(--carmine);
    border: 6px solid var(--honey-yellow);
    text-align: center;
}


@media only screen and (max-width: 450px) {
    .box-container {
        width: 90vw;
    }
}

.title {
    color: var(--honey-yellow);
}

.logo {

}

/* Quiz Game */