@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');

/* Global Settings */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  }

:root {
    --core-font: 'Gideon Roman', cursive;
    --carmine: #8e001cff;
    --purple-navy: #645986ff;
    --honey-yellow: #ffb300ff;
    --blur-white: #ffffffb3;
    --basic-white: #ffffff;
    --basic-black: #000000ff;
}

body {
    font-family: var(--core-font);
    color: var(--basic-white);
    background-image: url(../images/rome-background-image.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: var(--blur-white);
}


h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;

}

.hidden {
    display: none;
}

/* Welcome Page */

.container {
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    background: var(--carmine);
    border: 6px solid var(--honey-yellow);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--honey-yellow);
    font-size: 4rem;
}

.button {
    display: block;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    color: var(--carmine);
    background: linear-gradient(90deg, rgba(255,179,0,1) 0%, rgb(255,179,0) 100%);
    width: 20rem;
    padding: 1rem 1rem;
    margin: 1rem;
    margin-bottom: 1 rem;
    border-radius: 4px;
}

.button:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,179,0,1);
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#leaderboard-button {

}

/* Quiz Game */

/* Media Queries */

@media only screen and (max-width: 450px) {
    .container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 90vw;
        height: 100vh;

    }
}